!!! 5
html
  head
    title leeolayvar.com
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Bowlby+One+SC', rel='stylesheet', type='text/css')
  body
    header
      h1 leeOlayvar
      nav
        ul
          // li resume
          // li contact
          // li social
    section
      block content
    footer
      | Powered by buzzwords. HTML5, CSS3, Synergy, Grass Roots, and Cloud.